body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* ---------- Header ---------- */
.site-header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 16px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
    gap: 15px;
}

/* ---------- Hero ---------- */
.hero-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.hero-text,
.cta-content {
    max-width: 400px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtitle {
    font-size: 18px;
    color: #E5E7EB;
}

/* ---------- Button ---------- */
.button {
    display: inline-block;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
}

/* ---------- Gallery ---------- */
.section-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card {
    width: 188px; /* 180px frame + 8px border */
    text-align: center;
}

.photo-frame {
    border: 4px solid #3882F6;
    width: 180px;
    height: 180px;
    border-radius: 15px;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

/* ---------- Quote ---------- */
.quote-section {
    background-color: #E5E7EB;
    height: 400px; /* set this to your original height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    max-width: 700px;
    font-style: italic;
}

.quote-author{
    padding-left: 500px;
    font-weight: 900;
    font-size: 20px;
}

.quote-section p {
    margin: 4px 0;
}
/* ---------- Call to action section ---------- */
.cta-section{
    display: flex;
    justify-content: center;
}

.cta-content{
    display: flex;
    background-color: #3882F6;
    margin: 50px;
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
}

/* ---------- Footer ---------- */
.site-footer {
    background-color: #1F2937;
    color: #fff;
}